 .bg{
 	background-color: #002147;
 	color: white;
 }
 .bg-ligh{
 	background-color: white;
 }
 .titrenav{
	color: #002147;
	text-align: left;
	font-weight: lighter;
	padding: 10px;
}
.titrenav:hover{
color: orange;
text-decoration: none;
}
.active1{
	color: orange;
}
.active1:hover{
color: orange;
text-decoration: none;
}
 .lft{
	float: left;
	text-align: left;
	font-size: 14px;

}
.lft1{
	float: left;
	text-align: left;
	font-size: 12px;
	display: inline;
	
}
.rgt{
	float: right;
	text-align: right;
	font-size: 14px;
}
 .il{
	display: inline-block;
	color: white;
}
.pa{
	padding-top: 100px;
	padding-bottom: 100px;	
}
.botom{
	padding-bottom: 100px;
}
.bgim1{
	background-image: url('http://preview.hasthemes.com/study/img/about.jpg');
	min-height: 300px;
	background-size: cover;
	width:100%;
	background-repeat: no-repeat;
}
.texte{
    padding-right: 100px;
	font-size: 14px;
	text-align: left;
}
.titre{
	padding-top: 100px;
	padding-bottom: 50px;
	font-size: 12px;
}
.section1{
	background-color: #f8f9fa;
	text-align: center; 
	}
.contour{
	padding-bottom: 30px;
}
.image{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}
.title{
	font-size: 22px;
	color: #002147;
	text-align: left;
	font-weight:500;

}
.title:hover{
color: orange;
text-decoration: none;
}
.soustitre{
	color: #002147;
	text-align: left;
	font-weight: lighter;
}
.soustitre:hover{
color: orange;
text-decoration: none;
}
.content1{
	background-color: white;
	padding: 20px;
	width: 100%;
	text-align: left;
	color: #002147;

}
.section2{
	background-image:url(' http://preview.hasthemes.com/study/img/bg/funfact.jpg');
	background-size: cover;
	background-position: center;
	color: white;
	font-size: 65px;
	font-family: Montserrat;
	font-weight: bolder;
	text-align: center;
}

.section3{
	text-align: center;
	font-family: 'sans-serif';
	font-weight: normal;
}
.imge{
	padding-left: 0px;
	padding-right: 0px;
}
.imge1{
	margin-left: 0px;
	margin-right: 0px;
}
.block{
	padding: 100px;
	
}
.section4{
	background-image: url('http://preview.hasthemes.com/study/img/bg/testimonial.jpg');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}
.flouslide{
	background-color:rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    opacity: 1;
    position: absolute;
    
}
.flou{
	background-color: #002147;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    position: absolute;
    
}
.slid{
	text-align: center;
	padding-bottom: 50px;
	right: 0px;
	left: 110px;
}
.soustitre1{
	color: #002147;
	text-align: left;
	font-weight:lighter;
	font-size:13px;
	margin-right:10px;
}
.section5{
	text-align: left;
	font-family: 'sans-serif';
	font-weight: normal;
	background-color: #002147;
	color: white;
}
.icon{
	font-size: 14px;
	color: white;
	margin-right: 10px;
}
.liste{
	margin-bottom: 5px;
	list-style: outside none;
}
.liste1{
	padding: 0px;
	margin-bottom: 5px;
}
.soustitre2{
	color: white;
	text-align: left;
}
.soustitre2:hover{
color: orange;
text-decoration: none;
}
.liste2{
	margin: 2px;
	list-style: outside none;
	display: inline-block;
}
.footer1{
	text-align: left;
	font-size: 12px;
	font-family: 'sans-serif';
	font-weight: normal;
	background-color: #002147;
	color: white;
	margin-top: 0px;
}



/*************************************COURSE*************************************************/
.list{
	list-style: outside none;
	display: inline;
}
.liste3{
	margin-bottom: 10px;
	list-style: outside none;
}
.mar{
	padding: 10px;
}
.marg{
	padding-top: 10px;
	padding-bottom: 10px;
}
.marg1{
	margin-left: 40px;
	
}
.icon1{
	font-size: 14px;
	color: #002147;
	margin-right: 10px;
}

/* Carousel*/
    .carousel,
    .carousel-item,
    .carousel-item.active {
      height: 100%;
    }
    .carousel-inner {
      height: 100%;
    }
    .hauteur{
    	height: 500px;
    }
    .carousel-item1 {
      background-image: url("http://preview.hasthemes.com/study/img/slider/1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 500px;
    }
    .carousel-item2 {
      background-image: url("http://preview.hasthemes.com/study/img/slider/2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 500px;
    }
    .carousel-item3 {
      background-image: url("http://preview.hasthemes.com/study/img/slider/1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 500px;
    }
    .section6{
    color: white;
    text-align:left;
    margin-top: 150px;
    margin-left: 100px;
}
/************************************************************detailll**************************/
.pdetail{
	font-size: 13px;
	color:black;
	font-weight: lighter;
}
.tete{
	background-color: #fdc800;
	color: white;
	font-family: "Lato",sans-serif;
	font-weight: lighter;
}
.contenu{
	color: #4c4c4c;
	background-color: #f6f6f6;
	font-weight: lighter;
}
.droite{
	text-align: right;
}
.bordure{
	border: 1px solid #eee;
}
.count
{
  color:white;
  margin-left:30px;
  font-size:25px;
}



.animation-box {
  width: 75%;
  height: 27.5rem;
  background-color: blue;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.animation-container {
  width: 1000rem;
  height: 30rem;
}

@keyframes topFadeOut {
  0% {
    position: absolute;
    bottom: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bottomFadeOut {
  0% {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    bottom: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
  
}

@keyframes topFadeOutVertical {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 45%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rightFadeInOut {
  0% {
    position: absolute;
    right: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    right: 10rem;
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: 10rem;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}

.first-text {
  font-size: 4rem;
  position: absolute;
  left: 2.5rem;
  top: 5rem;
  opacity: 0;
  animation-name: topFadeOut;
  animation-duration: 5s;
  color: white;
}